*, :after, :before {
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.main-elements {
    border: 1px solid #dadde1;
    border-radius: 5px;
    padding: 16px;
    background-image: url(/ada-project-docs/assets/desert_landscape.jpg);
    background-size: 100%;
    height: auto;
}

#sky-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 20px;
    font-size: 40px;
}

#search-bar {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
}

.weather-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    color: #202124;
    font-size: 28px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
}

#search-box {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    font-size: 16px;
}

#realtime-button {
    margin-right: 10px;
    padding: 10px;
}

#sky-select {
    padding: 5px;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0,.7);
    font-size: 14px;
} 

#sky-select:hover {
    cursor: pointer;
    background-color: #7393B3;
    transition: all 0.5s;
    cursor: pointer;
    color: aliceblue;
}

.temp {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 10px;
}

.arrows {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
    font-size: 25px;
    padding-top: 10px;
}

#up-arrow:hover {
    border: 1px solid #202124;
    padding-bottom: 10px; 
    cursor: pointer;
}

#down-arrow:hover {
    border: 1px solid #202124;
    cursor: pointer;
}

#temp {
    font-weight: 400;
    color: #202124;
    line-height: 64px;
    font-size: 64px;
    margin-left: 5px;
    padding: 5px;
}

.reset {
    display: flex;
    justify-content: center;
}

#reset-button {
    padding: 10px;
}

button {
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0,.7)
}

button:hover {
    background-color: #7393B3;
    transition: all 0.5s;
    cursor: pointer;
    color: aliceblue;

}