/* 
7C3E66  purple
F2EBE9 purplish white
A5BECC  light blue
243A73  dark blue
*/

body {
    font-style: open sans;
    /* margin: 8vw; */
    background-color: #A5BECC;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .5fr .3fr 5fr .3fr .5fr .4fr; 
}

.city-name-container {
    background-color: #F2EBE9 ;
    background-color: #243A73 ;
    padding: 10px; 
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: start;
}

.search-container {
    padding: 10px; 
    background-color: #243A73 ;
    grid-column: 2/3;
    grid-row: 1/2;
    display:flex;
    justify-content: end;
    align-items: center;
}

#changeCity {
    background-color: #A5BECC ;
    margin-right: 20px; 
}

#cityToSearch {
    margin-right: 5px; 
}

.temp-display {
    grid-column:2/3;
    grid-row: 2/6;
    display: grid;
    grid-template-rows: .3fr 1fr .3fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7C3E66 ;

}

#temp {
    padding: 10px;
    font-size: xx-large;
    margin-bottom: 0;
}
h3 {
    margin-top: 0;
    padding: 10px;
}

#currentTemp {
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #243A73;

}

#tempUp, #tempDown {
    background-color: #A5BECC ;
    margin: 5px;
}

#getRealTimeTemp {
    margin-top: 5px;
    padding: 10px;
    background-color: #A5BECC ;
}

#getRealTimeTemp:hover, #tempUp:hover, #tempDown:hover, #changeCity:hover{
    background-color: #F2EBE9;
}

#sky_landscapeContainer {
    grid-row: 2/5;
    grid-column: 1/2;
    border: solid 2px darkblue;
    padding: 50px;
    margin-top: 20px;
    margin-right:20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
}

#skyContainer {
    padding: 20px;
    margin: 20px;
    justify-self: start;
}

#landscapeContainer {
justify-self: end;
}

#skyOptionsContainer {
    grid-row: 5/6;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items:center;

}

footer {
    grid-row: 6/7;
    grid-column: 1/3;
    background-color: #243A73 ;
}

h1 {
    padding-left: 20px;
}

h1, h2 {
    padding-right: 5px; 
    color: #A5BECC;
}