body {
    background-image: url('/images/image1.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    
}
.container {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header header"
    "city date"
    "temperature garden"
    "sky garden"
    "footer footer";
    align-items: center;
    height: 100vh;
    
}
.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin-left: 20px;
    padding-bottom: 20px;

    
}

.city, .garden, .sky, .temperature {
    opacity: 0.7;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
    margin-top: 0;
    margin-bottom: 30px;
    box-shadow: 4px 4px 10px gray;
    
}

.city, .sky, .temperature  {
    width:200px;

}

.garden {
    width: fit-content;
}

.date {
    grid-area: date;
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 20px;
    color:darkcyan;
    
    
}

.city {
    margin-left: 70px;
    grid-area: city;
    background: rgb(176,141,30);
    background: linear-gradient(90deg, rgba(176,141,30,0.76087759322479) 0%, rgba(106,204,219,1) 67%, rgba(162,208,218,1) 100%);

}

/* add animation */
.garden {
    grid-area: garden;
    justify-self: center;
    align-self: center;
    background: rgb(127,173,241);
    background: linear-gradient(90deg, rgba(127,173,241,1) 0%, rgba(228,175,206,1) 45%, rgba(233,175,204,1) 66%, rgba(146,219,241,1) 100%, rgba(148,187,233,1) 100%);
    margin-right: 130px;
    /* add animation */
    background-size: cover ;
    background-repeat: no-repeat;
    animation: change 10s infinite ease-in-out;
}

/* add animation */
@keyframes change{
    0%
    {
        background-image: url('../images/image1.jpg');
    }
    20%
    {
        background-image: url('../images/image2.jpg');
    }
    40%
    {
        background-image: url('../images/image3.jpg');
    }
    60%
    {
        background-image: url('../images/image4.jpg');
    }
    80%
    {
        background-image: url('../images/image5.jpg');
    }
    100%
    {
        background-image: url('../images/image6.jpg');
    }
}

.sky {
    margin-left: 70px;
    grid-area: sky;
    background: rgb(176,141,30);
    background: linear-gradient(90deg, rgba(176,141,30,0.76087759322479) 0%, rgba(106,204,219,1) 67%, rgba(162,208,218,1) 100%);

}

.temperature {
    margin-left: 70px;
    grid-area: temperature;
    background: rgb(176,141,30);
    background: linear-gradient(90deg, rgba(176,141,30,0.76087759322479) 0%, rgba(106,204,219,1) 67%, rgba(162,208,218,1) 100%);

}

.footer {
    grid-area: footer;
    align-self: center;
    justify-self: center;
    height: 50px;
    font-family: 'Bad Script', cursive;
    font-size: 18px;
    color:darkmagenta;
    font-weight: bold;
}

.city-name-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.temp-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.temp-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    margin-right: 20px;
}
#increase-temp {
    margin-bottom: 10px;
}
#temp {
    font-size: 30px;
    margin-bottom: 10px;
}

.temp-90 {
    color: rgb(95, 15, 206);
    background-color: rgb(122, 216, 216);
}

.temp-80 {
    color: rgb(238, 69, 69);
    background-color: lightcyan;
}
.temp-70 {
    color: goldenrod;
    background-color: lavender;
}
.temp-60 {
    color:rgba(163, 11, 163, 0.776);
    background-color: powderblue;
}
.temp-50 {
    color: darkgreen;
    background-color: lightsalmon;
}
.temp-49 {
    color: lightgoldenrodyellow;
    background-color: palegreen
}

#garden-sky {
    margin-bottom: 50px;
    text-align: center;
}
#land-scape, h3 {
    text-align: center;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

/* for header tag*/
.weather-report {

    font-family: 'Tapestry', cursive;
    font-size: 26px;
    color:rgb(191, 136, 8);
    text-shadow: 3px 3px rgb(241, 216, 117);
}

.city-of {
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
    font-weight: bolder;
    color:goldenrod;
    
}
#header-city {
    font-family: 'Berkshire Swash', cursive;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 25px;
    color:rgb(205, 69, 232);

}
.emoji {
    height: 30px;
    margin: 20px;
}

/*city name*/
.city h3, .temperature h3, .sky h3 {
    color:lightcyan;
}

.garden h3 {
    color:saddlebrown;
}

h3 {
    font-family: 'Turret Road', cursive;
    text-align: left;
    padding: 10px;
}

#realtime-temp {
    border-radius: 8px;
}

#increase-temp, #decrease-temp, #reset-btn, #city-name, #sky, #realtime-temp, #degree, #farenheit{
    border: none;
    color:darkgreen;
    font-size: 14px;
    box-shadow: 3px 3px 5px gray;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    
}

#increase-temp, #decrease-temp, #sky, #reset-btn, #city-name, #degree, #farenheit{
    border-radius: 5px;
    
}

#increase-temp, #decrease-temp, #degree, #farenheit {
    width: 30px;
}

#degree {
    margin-right: 10px;
}

#reset-btn {
    margin-left: 5px;
    width: 55px;
}

#temp-convert, .kelvin-sign {
    
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    
}

.temp-farenheight, .kevlvin-container {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;

}

.bg-80 {

    background: rgb(127,173,241);
    background: linear-gradient(140deg, rgba(127,173,241,1) 0%, rgba(228,175,206,1) 45%, rgba(233,175,204,1) 66%, rgba(146,219,241,1) 100%, rgba(148,187,233,1) 100%);

}

.bg-70 {

    background: rgb(60,124,255);
    background: linear-gradient(90deg, rgba(60,124,255,1) 0%, rgba(0,212,255,1) 47%, rgba(205,246,255,1) 89%);

}

.bg-60 {

    background: rgb(135,63,184);
    background: linear-gradient(150deg, rgba(135,63,184,1) 0%, rgba(233,128,128,1) 50%, rgba(237,205,131,1) 100%);

}

.bg-50 {

    background: rgb(34,170,195);
    background: linear-gradient(150deg, rgba(34,170,195,1) 0%, rgba(237,231,177,0.9636633238816624) 41%, rgba(232,228,174,1) 58%, rgba(135,231,227,0.9636633238816624) 100%);
}

.bg-49 {
    background: rgb(232,115,241);
    background: linear-gradient(-130deg, rgba(232,115,241,1) 0%, rgba(161,241,181,1) 47%, rgba(226,170,237,1) 100%);

}

.farenheit-sign, .kelvin-sign, #temp-convert {
    justify-self:left;
    align-self: flex-start;
    color:darkgreen;
    padding-bottom: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
}

.farenheit-sign {
    font-size: 25px;
    margin-top: 0;
    margin-left: 5px;
}

.kelvin-sign, #temp-convert {
    font-size: 18px;
    margin-left: 20px;
    font-weight: bold;
}

#temp-convert {
    text-align: right;
    color:darkmagenta
}
/* just change*/ 
#display {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Berkshire Swash', cursive;
    padding: 6px;
    font-size: 17px;
    color:darkmagenta;
    margin-top: 40px;
    
}


#date-display {
    background: rgb(127,173,241);
    background: linear-gradient(90deg, rgba(127,173,241,1) 0%, rgba(228,175,206,1) 45%, rgba(233,175,204,1) 66%, rgba(146,219,241,1) 100%, rgba(148,187,233,1) 100%);
    margin-left: 60px;
    margin-right: 3px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 3px 3px 10px gray;
    animation: bgchange 10s infinite ease-in-out;

}

@keyframes bgchange{
    0%
    {
        background: rgb(127,173,241);
        background: linear-gradient(90deg, rgba(127,173,241,1) 0%, rgba(228,175,206,1) 45%, rgba(233,175,204,1) 66%, rgba(146,219,241,1) 100%, rgba(148,187,233,1) 100%);
    }
    20%
    {
        background: rgb(60,124,255);
        background: linear-gradient(90deg, rgba(60,124,255,1) 0%, rgba(0,212,255,1) 47%, rgba(205,246,255,1) 89%);
    }
    40%
    {
        background: rgb(135,63,184);
        background: linear-gradient(150deg, rgba(135,63,184,1) 0%, rgba(233,128,128,1) 50%, rgba(237,205,131,1) 100%);
    }
    60%
    {
        background: rgb(34,170,195);
        background: linear-gradient(150deg, rgba(34,170,195,1) 0%, rgba(237,231,177,0.9636633238816624) 41%, rgba(232,228,174,1) 58%, rgba(135,231,227,0.9636633238816624) 100%);
    }
    80%
    {
        background: rgb(232,115,241);
        background: linear-gradient(-130deg, rgba(232,115,241,1) 0%, rgba(161,241,181,1) 47%, rgba(226,170,237,1) 100%);
    }
    100%
    {
        background: rgb(60,124,255);
        background: linear-gradient(140deg, rgba(60,124,255,1) 0%, rgba(0,212,255,1) 47%, rgba(205,246,255,1) 89%);
    }
}

.input-city, .reset, .increase-btn, .decrease-btn, .city-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.input-city .input-tooltip, .reset .reset-tooltip {
    bottom: -30px;
}

.input-city .input-tooltip, .reset .reset-tooltip, .increase-btn .increase-tooltip, .decrease-btn .decrease-tooltip, .city-btn .city-tooltip, .celsius-btn .celsius-tooltip, .farenheit-btn .farenheit-tooltip, .sky-btn .sky-tooltip {
    position: absolute;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    background: rgb(232,115,241);
    background: linear-gradient(-130deg, rgba(232,115,241,1) 0%, rgba(161,241,181,1) 47%, rgba(226,170,237,1) 100%);
    color: rgb(127, 93, 8);
    
}

.input-city:hover .input-tooltip, .reset:hover .reset-tooltip, .increase-btn:hover .increase-tooltip, .decrease-btn:hover .decrease-tooltip, .city-btn:hover .city-tooltip, .celsius-btn:hover .celsius-tooltip, .farenheit-btn:hover .farenheit-tooltip, .sky-btn:hover .sky-tooltip  {
    opacity: 0.8;
}


.increase-btn .increase-tooltip, .decrease-btn .decrease-tooltip, .city-btn .city-tooltip, .reset .reset-tooltip {
    right: -65px;

}


.city-btn .city-tooltip, .celsius-btn .celsius-tooltip, .farenheit-btn .farenheit-tooltip, .sky-btn .sky-tooltip {
    bottom:-30px;

}

.celsius-btn, .farenheit-btn {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
}

.temp-convert-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.farenheit-btn {
    margin-left: 20px;
}

.sky-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.sky-btn .sky-tooltip {
    right: 70px;
}

h3:hover, .farenheit-sign:hover, .kelvin-sign:hover {
    color:blueviolet;
    transition: color 0.15s;
}

#city-name:hover, #reset-btn:hover, #increase-temp:hover, #decrease-temp:hover, #realtime-temp:hover, #degree:hover, #farenheit:hover, #sky:hover, #temp:hover, #temp-convert:hover {
    background-color: bisque;
    color:rgba(163, 11, 163, 0.776)
}

