html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Paytone One', sans-serif;
}

header {
  font-size: 8vh;
  cursor: pointer;
  padding: 5% 5%;
}

button {
  padding: 0;
  font-family: 'Paytone One', sans-serif;
  background-color: #cfdcec;
  border-radius: 10px;
  font-size: 1.3vw;
  color: black;
}

#city {
  margin: 10%;
}

#weather {
  text-decoration: none;
  color: #4679bd;
}

#city-name {
  text-decoration: underline;
}

#container {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

#temp-range {
  display: flex;
  justify-content: center;
}

#city {
  height: 100%;
  width: 100%;
  font-size: 25px;
  border-radius: 10px;
  background-color: #cfdcec;
  font-family: 'Paytone One', sans-serif;
}
.round-button-circle {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1vw solid #cfdcec;
  background-color: #4679bd;
  display: flex;
}

.round-button-circle section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cfdcec;
  font-size: 2.5vw;
  font-weight: bold;
  text-decoration: none;
}

.real-temp-btn {
  font-size: 20px;
  background: #cfdcec;
  padding: 0;
}
#range {
  width: 120px;
  -webkit-appearance: none;
  background: #cfdcec;
  outline: none;
  border-radius: 30px;
  overflow: hidden;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: grey;
  border: 4px solid black;
  box-shadow: -410px 0 0 400px orange;
}

#temp-input-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.button {
  height: 100px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #cfdcec;
  font-size: 2.5vw;
  font-weight: bold;
  text-decoration: none;
  padding: 0px;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  background: #cfdcec;
  width: 100%;
  border-radius: 5px;
  transform: translateY(0%);
  font-size: 1.5vw;
  font-family: 'Paytone One', sans-serif;
}
