.rain {position: relative;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/54046/glass_droplets.jpeg);
    filter: blur(0);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    z-index: 2;
    }

.sun {
    position: relative;
    background: url("/assets/sunny.webp");
    background-size: cover;
    background-position: center;

}    




